{% extends 'reset-main.html'%}

{% block title %}
Reset password
{% endblock title %}

{% block content %}

{% block head %}
Reset Password
{% endblock head %}



<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">


        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

            <form  class="form", method="post">
                {% csrf_token%}
                {{form.as_p}}

                <button class="btn btn-success" type="submit">Submit</button>
            </form>

    </div>
    <div class="col-sm-2"></div>
    
  </div>






{% endblock content %}